*{
    padding:0;
    margin:0;
}
.l
{
    background-color: black;
}
.i
{
    width:150px;
    height:150px;
    background-image: linear-gradient(white,blue);
    border-radius: 100px;
    animation-name:vinay;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}
.v
{
    width:150px;
    height:150px;
    background-image: linear-gradient(white,blue);
    border-radius: 100px;
    animation-name:king;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}
@keyframes vinay
{
   0%
   {

    transform: translateY(900px);

   }
   /* 100%
    {
        transform:translateX(200px);
    }*/
    
}
@keyframes king
{
0%
{
    transform:translateY(1000px);
}
95%
{
    transform:translateX(200px);
}
89%
{
    transform:scale(9);
}
100%
{
    transform: translateX(500px);

}
}
.y
{
    width:150px;
    height:150px;
    background-image: linear-gradient(white,blue);
    border-radius: 100px;
    animation-name:v;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction:normal;
}
@keyframes v
{
   0%
   {

    transform: translateX(1000px);

   }
    100%
    {
        transform:translateY(300px);
    }
    
}
.m{
    width:50px;
    height:50px;
    background-image: linear-gradient(white,blue);
    border-radius: 100px;
    animation-name:vi;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;

}
.j
{    width:50px;
    height:50px;
    background-image: linear-gradient(red,yellow);
    border-radius: 100px;
    animation-name:vin;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;

}
.k{
    width:50px;
    height:50px;
    background-image: linear-gradient(red,yellow);
    border-radius: 100px;
    animation-name:vina;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;

}
.o{    width:50px;
    height:50px;
background-image: linear-gradient(red,yellow);
    border-radius: 100px;
    animation-name:vinas;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;

}
@keyframes vi
{
 0%
 {
    transform:translateX(1100px);
 }
 0%
 {
    transform: translateY(900px);
 }
}
@keyframes vin
{
 0%
 {
    transform:translateX(1100px);
 }
 100%
 {
transform: scale(9);
 }
}
@keyframes vina
{
 0%
 {
    transform:translateX(1100px);
 }
}
@keyframes vinas
{
 0%
 {
    transform:translateX(1100px);
 }
}
